<section class="section">
  <div class="container-fluid">
    <div class="four-space"></div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-11 col-xs-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h2 class="card-title">All Cases</h2>
            <p class="card-category">List of all cases provided by you and their status's.</p>
          </div>
          <div class="card-body">
            <div class="space"></div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-10 col-sm-12 col-mx-auto">
                <mat-form-field appearance="outline" *ngIf="allLeadsCount > 0">
                  <mat-label>Search...</mat-label>
                  <input matInput type="text" (keydown)="doFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            </div>
            <div class="space"></div>
            <div class="table-responsive table-full-width" *ngIf="allLeadsCount > 0">
              <mat-table class="table " matSort (matSortChange)="sortData($event)" [dataSource]="allLeads"
                *ngIf="allLeads.data != undefined || allLeads.data != null || allLeads.data">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.leadId }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobile">
                  <mat-header-cell *matHeaderCellDef>Mobile</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.phone }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.status }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="policy type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Policy Type</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.policyTypeId.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="complaint type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Complaint Type</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.complaintTypeId.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef class="d-flex justify-content-center">Actions</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="d-flex justify-content-around">
                    <button mat-icon-button type="button" color="primary" matTooltip="Upload Documents"
                      (click)="openDocsModal(element)" routerLinkActive="active">
                      <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <button mat-icon-button type="button" color="basic" matTooltip="Add Comment"
                      (click)="openComModal(element)">
                      <mat-icon>comment</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>


              </mat-table>

              <div class="paginator" *ngIf="allLeads.data">
                <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="pageLength" [pageSize]="pageSize"
                  (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
              </div>

            </div>
            <div class="no-case d-flex justify-content-center" *ngIf="allLeadsCount < 1">
              <h2>It seems that we don't have any case submitted by you.</h2>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
