<div class="container-fluid">
  <div class="four-space"></div>
  <div class="row d-flex justify-content-around">
    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-header card-header-icon card-header-success">
          <div class="card-icon">
            <i class="material-icons">store</i>
          </div>
          <p class="card-category">Total Companies</p>
          <h1 class="card-title">86</h1>
        </div>
        <div class="card-footer">
          In Last Month
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-header card-header-icon card-header-success">
          <div class="card-icon">
            <i class="material-icons">store</i>
          </div>
          <p class="card-category">Total Companies</p>
          <h1 class="card-title">86</h1>
        </div>
        <div class="card-footer">
          In Last Month
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-header card-header-icon card-header-success">
          <div class="card-icon">
            <i class="material-icons">store</i>
          </div>
          <p class="card-category">Total Companies</p>
          <h1 class="card-title">86</h1>
        </div>
        <div class="card-footer">
          In Last Month
        </div>
      </div>
    </div>
  </div>
</div>
