<div class="container">
  <div class="two-space"></div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header card-header-info text-center">
          <h2>SIGNUP</h2>
          <p class="card-category">Create a new account</p>
        </div>
        <div class="card-body">
          <form (submit)="onSigupForm(signupForm)" #signupForm="ngForm">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput type="text" name="name" ngModel #name="ngModel" placeholder="Your Full Name" required>
                <mat-error>Name is required</mat-error>
              </mat-form-field>
            </div>
            <!-- <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" name="lastName" ngModel #lastName="ngModel" placeholder="Your Last Name"
                  required>
                <mat-error>Hey you do have a Last Name, right?</mat-error>
              </mat-form-field>
            </div> -->
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" name="email" ngModel #emailInput="ngModel" matInput placeholder="Email Id" required
                  email>
                <mat-error *ngIf="emailInput.hasError('required')">Email is required to login</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline" hintLabel="Should be atleast 6 characters long">
                <mat-label>Password</mat-label>
                <input type="password" name="password" ngModel #passwordInput="ngModel" matInput placeholder="Password"
                  minlength="6" required>
                <mat-hint align="end">{{passwordInput.value?.length}}/6</mat-hint>
                <mat-error>Password is required and has to be atleast 6 characters long</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Mobile</mat-label>
                <input type="tel" name="mobile" ngModel #mobileInput="ngModel" matInput placeholder="Mobile Number"
                  (keypress)="keyPress($event)" maxlength=10 minlength=10 required>
                <mat-hint align="end">{{mobileInput.value?.length}}/10</mat-hint>
                <mat-error>Mobile number should be 10 characters long</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Company Name</mat-label>
                <input matInput type="text" name="companyName" ngModel #companyName="ngModel"
                  placeholder="Your Company Name" required>
                <mat-error>Company Name is required</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Website URL</mat-label>
                <input matInput type="text" name="website" ngModel #website="ngModel"
                  placeholder="Enter your website url (with http/https)">
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Nature Of Business</mat-label>
                <input matInput type="text" name="natureOfBusiness" ngModel #natureOfBusiness="ngModel"
                  placeholder="What kind of business you do" required>
                <mat-error>Nature Of Business is required</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Area of Operations</mat-label>
                <mat-select multiple name="areaOfOperation" ngModel #areaOfOperation="ngModel"
                  placeholder="What kind of business you do" required>
                  <mat-select-trigger>
                    {{areaOfOperation.value ? areaOfOperation.value[0] : ''}}
                    <span *ngIf="areaOfOperation.value?.length > 1" class="example-additional-selection">
                      (+{{areaOfOperation.value.length - 1}}
                      {{areaOfOperation.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-optgroup *ngFor="let stateGroup of stateList" [label]="stateGroup.name">
                    <mat-option *ngFor="let state of stateGroup.states" [value]="state">{{ state }}</mat-option>
                  </mat-optgroup>
                </mat-select>
                <mat-error>Area Of Operation is required</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group d-flex justify-content-end">
              <a routerLink="/auth/login">Already have an account</a>
            </div>
            <div class="form-group">
              <button mat-raised-button type="submit" color="accent" [disabled]="signupForm.invalid">Create
                account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="two-space"></div>
</div>
